<form class="form-signin form" >
  <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Inicio de sesion</h1>
  &sub;
  <label for="inputEmail" class="sr-only">Correo o usuario</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Contraseña</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> recordar usuario
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/']" type="submit">Iniciar sesion</button>

</form>
