.tamaños{
    margin-top: 0px;
    height: 32%;
}
.margenes{
    margin-top: 0px;
}

#cabecera ul{

}
#cabecera ul li{
    list-style: none;
    display: inline-block;
}
.img{
width: 20px;
height: 10px;
}