<main role="main">
  <div class="album py-5 bg-light" id="home">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm card-img-top">
            <img src="/src/assets/imgs/whatsap.png" width="100%" height="225">
            <div class="card-body">

              <p class="card-text">Los MODs de WhatsApp para Android son versiones mejoradas del WhatsApp original que permiten ocultar el doble check azul o tu última hora de conexión</p>
              <div class="d-flex justify-content-between align-items-center">

                  <button type="button" class="btn btn-sm btn-success" ><a href="https://dw.malavida.com/ZzRNMVBUeWVKenNsV213RmtKWUVISU9aekY2QmtnM3UydExkUnpzTGNMQkRQbWV6ZzhZaEdPUFk5SXk3cnNyL1N0SlZkTy95WkUx/Z3R2ZFF4ZTE4RFl4SnpCOXp2d0NuK1hsT3NRdFZyMmwrZjJYUXNOSGVEYmwyY3JIeVhHVkZGN05PQTRGOEg1UmYzbUNiTUN4U0hy/dHExRWdNa3ZCQUtFeUw3MEZjRDIzVG1wYXBEYkd4WnU5VzhzbXc5SUJJcDBRVjIxRGdRcjNYVmVZM1VLa2tMTHFXRHEwOWRpbEt6/MVp3ajFERGROcGY2SHJITkJXOUc3K01xV25OL0dSRVBvYXlsenRPUm5pbnpYOHdaTkxFNEZUbUo0KzRSUEJnVWVEV2kxWEZqVHpz/bEg2dnBwcm5RZGJTdVdvYjk2bUkwMHluZWw0c2czcjcrK1ZjZjlzOGtVM1dMWEgwcVRscG4vSmpzNVhGcHBNVnl5NWhVZU02YjVw/QWZ4ZlpyMVhKdjhrSzJZUjY2RE1SOG5wNUQxQ3NEeGhkK1liYUkwdHhnLzJQcHZzWHdqSEZOQ28xNXV6VDg5N1c5aFI3RFpGTGpq/MHhJN2o3blhmb1IxTzI4QVRBZTdhWTlUVWVGamRzNENDTXNWM3A0dGlkcERUU0ZkcWR4Q040ZHpWR3kxckJKdHJoajdZVndkV25D/SVlJVjFqbWVTbTVVd29EY2VKbWRtMzYvRHBvZ3M5VXZBSSsycUpXSzNWOTMzSHZ4YVlpR2JMaFkzczhsWEhhQnFhaHNvSXhvQT09/1e7ca1dfa3cd4e97" class="tx">Descargar</a> </button>          
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <iframe width="100%" height="225" src="https://www.youtube.com/embed/Btbpd9KNeEc" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text">Youtube es la aplicación oficial del portal de vídeos más grande y popular del mundo, casa de millones y millones de vídeos, donde cientos de miles de nuevos clips se suben cada día.</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-success" ><a href="https://dw.uptodown.com/dwn/yqDm7sBnqj8DH5v4jb8i5jMQrc895Uqtu4gLEYYEVMLu7sLU3-CJaMXcEeI7lCChuqi97XPJ9zA6fUwUcr0K6G4EiQoThfpranc12-PT18HAJF7VtxtowRAvyjdPRBdC/hv36lvEhH478F6mGzr8HDF72N4X9nEG45lcBy2mBi6HhATJQJRzg0Oa2dKrBmGrD93Vol7vnJp2pBdcYCBuCzvXe8dlMIk6u4w-Ij9jIK3ygEVRwbf3yo1YE7eKR23TP/KXcbuMGOxsqH9AbwFj9RUVrLJABwG0LZN03IhuZtmiUxQIHrkb2FiHv6TdJrHkKu/" class="tx">Descargar</a> </button>          
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <iframe width="100%" height="225" src="https://www.youtube.com/embed/1HOxNmBk9qU" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text">Facebook es la aplicación oficial de la red social por excelencia, que nos permitirá gestionar nuestra cuenta de usuario, y hacer prácticamente lo mismo que podríamos hacer desde el navegador, pero de una manera mucho más cómoda.</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-success" ><a href="https://dw.uptodown.com/dwn/82I4qfPYOKCdcAPby6DzpkqEed9Dg0WZBbfGi6lMMsXCz4m2YP6q8eSZBMqaIQAxZzcN75WIuGp3QcHOXA0rwo4D1ytwCNXi8N_dVmSBFQDD2EKBiioO-EVv2UZxTyNV/oVfmx5rP9mmKbBTo7IMo3qY3GH1nwlG_WqqisCF1YydPz2e3AU-a7dYrJFTrSmN96G3w4oRLU8xTb3L-ES9Ow_O1V1rjC3d9nGah9onF9XqtbWw7Ec_MmvFi2jWNcqX8/07zlXCzGSehGTCRA-gZ2k9YvnaxM9Fbndd2dGwtTl7z3056JzrT1UdqeCAyeQf_QtJNINFERxJyT5bF97QuNGg==/" class="tx">Descargar</a> </button>          
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <iframe width="100%" height="225" src="https://www.youtube.com/embed/Nv4NmqiHTF8" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text">Instagram, una de las aplicaciones de filtros fotográficos más populares de iPhone con diferencia, que ha conseguido crear toda una red social de usuarios a sus espaldas, ha aterrizado por fin en la plataforma Android para gozo y deleite de todos los usuarios de teléfonos móviles con este sistema operativo.</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-success" ><a href="https://dw.uptodown.com/dwn/OIeNfsXGv2W94oGrNe6Ukq-Qrqw1r2fWybZVAlqrBoasDfilE2iTIIV78GodK7kErXPBAV4FdKBxyI3UPYGLvmCj25ctOKEv8X70ZQnh9MLPCZBvxpQEG4pVL6YJf-7l/lXTUoc_QtgaQ5IYYK6qTgjMJGdwWpHQm8azF6vxo86_lzlH_XJPWDo1jkzIAtZxO2X8A56Bp6B7peu1pEaK5se2SkL8gJ0cvaxBtbRwhzMR-71dUyxBdAisyjXWlg_ZO/6hZMQSeLMnjnShM8Sg3QNUhMWTzltSghEiyP0WagfvD1YlyIlpZmfFSsdKUWaXXiYi79kHLdMhfTHi30wYOUqw==/" class="tx">Descargar</a> </button>          
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <iframe width="100%" height="225" src="https://www.youtube.com/embed/xS3V8DJUVDI" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text">La aplicación oficial de Twitter nos permitirá continuar utilizando una de las redes sociales más extendidas y utilizadas del mundo en cualquier lugar y en cualquier momento, siempre y cuando estemos conectados a Internet.</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-success" ><a href="https://dw.uptodown.com/dwn/yBMozjSbeei_bKW0qlv1z3YeZJCSh6S6V3wqSDWsxLzsybFq3yYVUrdrkKJvoYzkr7vljvVNkyjNSnsqGdtRnD2qQUWWEXYhxP_aP506ZKnJ8Gm95azYrmjtXf9ePZpW/EjLDFeTz3ZZ1xZIteUqAGRDPpQONGenwBTEou_nRYUBgCi3Cw_Fj-yyI3SvQCM8UyZOQ2rO0EQvvvBLT4yQnsrgbN-YXUTQLd9rObUhkbCS7GDqvH4W6-ACmmjYq1t4b/jKxYgxnRl_V5Zcq5_ryeDhinftXnQm08g-NQApiFP9nqb1eqzQup9r4SvPj9CgAl359WWVe493PkwAEXBV9lBw==/" class="tx">Descargar</a> </button>          
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <iframe width="100%" height="225" src="https://www.youtube.com/embed/a9lQzznDVME" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
              <p class="card-text">Telegram es una aplicación de mensajería instantánea que, al igual que otras de corte similar, como Viber, Whatsapp o LINE, nos permitirá comunicarnos con todos nuestros contactos de una forma cómoda y sencilla. La principal diferencia de Telegram, es que ofrece máxima privacidad.</p>
              <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-sm btn-success" ><a href="https://dw.uptodown.com/dwn/82I4qfPYOKCdcAPby6DzptmVLezv2cXKmf7VufpREoShh5g95Yso4yAnxlEvgOnrdi5YEunj8jvpIHu_YW4art7l37x2O5sjv7kwOJJ4L9mG6HuCyBipADXmIij5RwBK/R5tmQy06zI6b9qjzojCWEvSEEYEJ3r1Z9XvJVpNgLB38jJhK6sGPX6nsqS09V6a3SJCevQTKqAxEFC71FSRQJ15eB8w9KHaVFR1CnGhwAp29xycNjkuBAUYOUBt4gTUb/R2HaL7XhHg0PLOCXHwYdiwzlK0_RNCg782edLz3QM_xvnwxna9x92T5X25WPynR8/" class="tx">Descargar</a> </button>          
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
